body {
  background-image: url(../assets/home-background-image.jpg);
  background-position: center;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #eae5de;
  border-radius: 20px;

  cursor: pointer;
}

#post-info-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.post:hover {
  opacity: 0.5;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-date,
.post-author {
  font-size: 14px;
  margin: 5px 0;
}

#create-post-button {
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  border: 1px solid #ccc;
  border-radius: 5px;

  margin-bottom: 20px;
}

#page-select-container {
  text-align: center;
}
